@font-face {
    font-family: alarmFont;
    src: url("https://download1512.mediafire.com/wigww88qf8bg/vgoul62x8d9nb6r/DS-DIGI.TTF");
}



h1 {
    font-family: alarmFont, Arial, Helvetica, sans-serif;
}