@font-face {
    font-family: alarmFont;
    src: url("resources/fonts/alarm-clock.ttf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-family: alarmFont, Arial, Helvetica, sans-serif;
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
}

.box {
    margin: 5px;
    background-color: white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    width: 200px;
    height: 300px;
    text-align: center;
}

.button {
    background-color: lightgray;
    padding: 5px 25px 5px 25px;
    margin: 2px;
    display: inline-block;
    transition-duration: 0.1s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6)
}

.button:active {
    transform: scale(0.95);
}

.timer {
    font-family: alarmFont, Arial;
    font-size: 40px;
}

#timeModal {
    display: none;
}